body {
  height: 100%;
}

main{
  display: flex;
  justify-content: space-evenly;
}

.flex{
  height: 100%;
  width: 28%;
}

#map_view{
  height: 100%;
  width: 68%;
  background-color: aquamarine;
}

#points_container{
  width: 98%;
  background-color:fuchsia;
}

