body {
  height: 100%;
}

main{
  height: 33em;
  display: flex;
  justify-content: space-evenly;
}

.flex{
  height: 100%;
  width: 28%;
}
.flex button{
  width: 98%;
}
#mapviewer{
  width: 68%;
}

#map{
  height: 100%;
  width: 98%;
}

#points_container{
  width: 100%;
  margin: 0.2em;
  // background-color: lightblue;
}

.points_img {
  width: 60px;
}

#edit_button {
  width: 3.2em;
  text-align: center;
}

.flex_header {
  display: flex;
  justify-content: space-between;
}

.indiv_point {
  border: solid 0.06em rgb(95, 94, 94);
  border-radius: 0.1em;
  margin: 0.2em;
}

