
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>TinyApp - Login</title>
  </head>

  <body>

    <nav id="top-bar" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a id="title-link" class="navbar-brand" href="/">Wiki Maps</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>

    <form class="form" action="/login" method="POST">
      <div class="form-group mb-2">
        <h3>Login to your account</h3>
        <input class="form-control" type="text" name="username" placeholder="user id" style="width: 300px; margin: 1em">
        <input class="form-control" type="password" name="password" placeholder="password" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">login</button>
      </div>
    </form>

  </body>
</html>
