<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <!-- URL TITLE -->
  <title>New Map - TBN</title>
    <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/main.css">
    <!-- Script JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Wiki Maps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <main>
    <div class="flex" style="overflow-y: auto;" >
      <header>
        <h3>Points Of Interest</h3>
      </header>
    <div id="points_container">

    </div>
  </div>

    <div id="map"></div>
    <!-- Replace the value of the key parameter with your own API key. -->
    <script>
      function initMap() {

    var uluru = {lat: -25.344, lng: 131.036};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: uluru
    });
    var marker = new google.maps.Marker({
    position: uluru,
    map: map
  });}
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBmOjKnCb27NSuwCaY98GW-m0A9Rk9x9eE&callback=initMap">
    </script>

  </main>


</body>
</html>
